<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/table.css">
    <title>Tables</title>
</head>
<body>
    <form action="/tables"></form>
    <div class="items">
        <h2>Items</h2>
    <table >
        <thead>
            <tr>
                <th>Name</th> 
                <th>Weight</th>
                <th>Value</th>
                 
            </tr>
        </thead>
        <tbody>
            {{ range .Items}}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .Value }}</td>
                <td>{{ .Weight }}</td>
            </tr>
        {{ end}}
        
    </table>
    </div>
    <div class="algorithm">
        <h2>Algorithm</h2>
        <table  >
        
            <tbody>
                
            {{ $a := .Kparallel }}
            {{ range $a }}
            <tr>
            {{ $elem := . }}
            {{ range $elem }}
            <td> {{ printf "%d" . }}</td>
            {{ end}}
            </tr>
            {{end}}
        </table>
        

    </div>
    <div class="profit">
        <h2>The profit is {{ .Profit }}</h2>
        
            <ul>
                {{ range .AddedItems}}
                <li>Item: {{ .Name }}, weight: {{ .Weight }}, value: {{ .Value }} </li>
            
                {{ end}}


            </ul>
               
    </div>
   
    

    
   
</body>
</html>
