table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.items{
    max-width: 40%;
    border: #1b1a1a;
    
    
}
.algorithm{
    max-width: 100%;
}